<!-- <div class="page"> -->

  <!-- HEADER -->
  <!-- <div class="top-bar"> -->
   <!-- <div class="back">←</div> -->

    <!-- <div class="brand"> -->
      <!-- <span class="logo">RBT</span> -->
      <!-- <span class="title">Portal 🎵</span> -->
    <!-- </div> -->

    <!-- <div class="user">CG</div> -->
 <!-- </div> -->

  <!-- SUB HEADER -->
  <!-- <div class="sub-header"> -->
    <!-- <h4>SUBSCRIBERS AREA</h4> -->
    <!-- <h1>Manage My <span>Account</span></h1> -->
    <!-- <p>View your subscription and manage your RBT Portal caller tune</p> -->
  <!-- </div> -->

  <!-- ACCOUNT CARD -->
  <!-- <div class="card"> -->
    <!-- <h3>ACCOUNT INFORMATION</h3> -->

    <!-- <div class="row"> -->
      <!-- <div class="icon">📱</div> -->
      <!-- <div> -->
        <!-- <p class="label">MOBILE NUMBER</p> -->
        <!-- <p class="value">06 XXX XX XX</p> -->
      <!-- </div> -->
    <!-- </div> -->

   <!---- <div class="row">
      <div class="icon">📦</div>
      <div>
        <p class="label">CURRENT PACK</p>
        <p class="value">RBT Portal Weekly</p>
        <small>150 XAF / 7days</small>
      </div>

      <div class="status">Active</div>
    </div>
  </div>

  <! CURRENT TUNE -->
  <!-- <div class="card"> -->
    <!-- <h3>🎵 CURRENT TUNE PLAYING FOR YOUR CALLERS</h3> -->

    <!-- <div class="tone-box"> -->
      <!-- <div class="music">🎵</div> -->
      <!-- <div> -->
        <!-- <p class="now">NOW PLAYING</p> -->
        <!-- <p class="song">Beyoung</p> -->
        <!-- <small>Ninho, N.E.</small> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- CHANGE TUNE -->
 <!---- <button class="btn-change" (click)="changeTune()">
    ⚙ CHANGE TUNE
  </button>

  <!- CANCEL SECTION -->
  <!--<div class="cancel-box">

    <h3 class="danger-title">
      ⚠ Cancel My Subscription
    </h3>

    <p>
      If you unsubscribe, your RBT Portal tune will be deactivated and your caller will hear the standard ringback tone.
    </p>

    <! UPDATED BUTTON (OPEN POPUP) -->
   <!---- <button class="btn-unsub" (click)="showPopup = true">
     <-- UNSUBSCRIBE
    </button>

  </div>

</div>

<!- FOOTER -->
<!--<div class="footer">
  <div class="item">🏠<br>Welcome</div>
  <div class="item">👤<br>Profile</div>
  <div class="item">❤️<br>Favourites</div>
  <div class="item active">🎵<br>My RBT</div>
</div>


<!- ================= POPUP ================= -->
<!--<div class="popup-backdrop" *ngIf="showPopup">

  <div class="popup-card">

    <div class="warning-icon">⚠️</div>

    <h2>Confirm Cancellation</h2>

    <p>
      Are you sure you want to unsubscribe from MTN ZIK Weekly?<br>
      Your tune will be deactivated immediately.
    </p>

    <button class="confirm-btn">
      YES, UNSUBSCRIBE ME
    </button>

    <button class="cancel-btn" (click)="showPopup = false">
      Cancel
    </button>

  </div>

</div>-->
