<div class="login-page">

  <!-- TOP HEADER -->
  <div class="login-header">
    <h2>
      <mat-icon>music_note</mat-icon>
      RBT Portal
    </h2>
  </div>

  <!-- LOGIN CARD -->
  <div class="login-card">

    <p>Login to manage your RBT tones</p>

    <!-- MOBILE NUMBER FIELD -->

    <div class="input-box" *ngIf="!otpSent">
      <mat-icon>phone</mat-icon>

      <input
        type="text"
        placeholder="Enter Mobile Number"
        maxlength="10"
        [(ngModel)]="mobileNumber"
      />
    </div>


    <!-- SEND OTP BUTTON -->

    <button *ngIf="!otpSent" (click)="sendOtp()">
      SEND OTP
    </button>


    <!-- OTP FIELD -->

    <div class="input-box" *ngIf="otpSent">
      <mat-icon>lock</mat-icon>

      <input
        type="text"
        placeholder="Enter OTP"
        maxlength="4"
        [(ngModel)]="otp"
      />
    </div>


    <!-- VERIFY BUTTON -->

    <button *ngIf="otpSent" (click)="verifyOtp()">
      VERIFY OTP
    </button>

  </div>

</div>