<div class="login-page">


  <div class="login-card">

    <div class="logo-section">
      <h2>MOOV Tunes</h2>
      <p>Caller ring-back tones</p>
    </div>

    <div *ngIf="!otpSent">

      <div class="login-text">
        <h3>Enter your number</h3>
        <p>We’ll send a one-time code to verify it’s you.</p>
      </div>

      <label>MOBILE NUMBER</label>

      <div class="mobile-row">

        <div class="country-box">
          +227
        </div>

        <input
          type="text"
          placeholder="Enter mobile number"
          [(ngModel)]="mobileNumber"
          (input)="onMobileInput($event)"
          (keydown)="allowOnlyNumbers($event)"
        />

      </div>

      <small>
        Must start with 6 (min 7 digits)
      </small>

      <button (click)="sendOtp()">
        Send code
      </button>
    </div>

    <div *ngIf="otpSent" class="otp-screen">

      <div class="verify-text">
        <h3>Verify your number</h3>
        <p>Enter the 4-digit code we sent by SMS.</p>
      </div>

      <div class="number-preview">
        <span>+227 {{ mobileNumber }}</span>

        <button class="edit-btn" (click)="editNumber()">
          Edit
        </button>
      </div>

      <label class="otp-label">ENTER CODE</label>

      <div class="otp-boxes">

        <input
  #otpBox1
  type="tel"
  inputmode="numeric"
  pattern="[0-9]*"
  maxlength="1"
  [(ngModel)]="otp1"
  (input)="moveNext($event, otpBox2, '1')"
  (keydown)="movePrev($event, null)"
/>

        <input
          #otpBox2
          type="tel"
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="1"
          [(ngModel)]="otp2"
          (input)="moveNext($event, otpBox3, '2')"
          (keydown)="movePrev($event, otpBox1)"
        />

        <input
          #otpBox3
          type="tel"
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="1"
          [(ngModel)]="otp3"
          (input)="moveNext($event, otpBox4, '3')"
          (keydown)="movePrev($event, otpBox2)"
        />

        <input
          #otpBox4
          type="tel"
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="1"
          [(ngModel)]="otp4"
          (input)="moveNext($event, null, '4')"
          (keydown)="movePrev($event, otpBox3)"
        />

      </div>
      
      <p class="resend-text">

        Didn’t get it?

        <span *ngIf="!canResendOtp">
          Resend in {{ resendTimer }}s
        </span>

        <span
          *ngIf="canResendOtp"
          (click)="resendOtp()"
          class="resend-link">

          Resend OTP

        </span>

      </p>

      <button
        class="verify-btn"
        (click)="verifyOtp()">

        Verify

      </button>

      <p class="attempt-text">
        Attempts Left :
        {{ maxOtpRetry - otpRetryCount }}
      </p>

    </div>

  </div>

</div>