<div class="app">

  <!-- HEADER -->
  <div class="header">
    <h2>
      <mat-icon>music_note</mat-icon>
      RBT Portal
    </h2>
  </div>

  <div class="content">

    <!-- HEADER TEXT -->
    <div class="header-text">
      <h2>
        <mat-icon>trending_up</mat-icon>
        Top RBT Songs of the moment
      </h2>

      <p>
        <mat-icon>music_video</mat-icon>
        Choose Your RBT Tone
      </p>

      <p>
        <mat-icon>headphones</mat-icon>
        Listen & activate your personalized RBT ringtone
      </p>

      <p class="highlight">
        <mat-icon>flash_on</mat-icon>
        Easy & Fast Activation
      </p>
    </div>

    <!-- SEARCH -->
    <div class="search-bar">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search songs or artist..." />
    </div>

    <!-- CATEGORIES START -->

    <!-- PARTY MUSIC -->
    <div class="category" *ngFor="let cat of categories">

      <h3 class="section-title">
        <mat-icon>{{ getIcon(cat.title) }}</mat-icon>
        {{ cat.title }}
      </h3>

      <div class="song-card" *ngFor="let s of cat.songs">

        <div class="info">
          <h3>
            <mat-icon>music_note</mat-icon>
            {{ s.name }}
          </h3>

          <p>
            <mat-icon>person</mat-icon>
            {{ s.artist }}
          </p>
        </div>

        <button>
          <mat-icon>play_arrow</mat-icon>
          SET RBT
        </button>

      </div>

    </div>

    <!-- CATEGORIES END -->

  </div>

  <!-- BOTTOM NAV -->
  <div class="bottom-nav">

    <div class="nav-item active">
      <mat-icon>music_note</mat-icon>
      <span>Music</span>
    </div>

    <div class="nav-item">
      <mat-icon>whatshot</mat-icon>
      <span>Top Songs</span>
    </div>

    <div class="nav-item">
      <mat-icon>favorite</mat-icon>
      <span>Favorites</span>
    </div>

    <div class="nav-item">
      <mat-icon>star</mat-icon>
      <span>Set RBT</span>
    </div>

  </div>

</div>